# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Temporales
*.tmp
*.bak
Thumbs.db
